*,
::after,
::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin-top: 10px;
}

.canvas {
    display: flex;
    flex-direction: column;
    width: fit-content;
    border: 2px solid black;
}

.row-div {
    display: flex;
}

.row-div .hovered {
    background-color: aqua;
}