*,
::after,
::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.canvas {
    display: flex;
    flex-direction: column;
}

.row-div {
    display: flex;
}

.row-div .hovered {
    background-color: aqua;
}