*,
::after,
::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.canvas {
    display: flex;
    flex-direction: column;
}

.row-div {
    display: flex;
}

.row-div div {
    width: 30px;
    height: 30px;
}

.row-div div:hover {
    background-color: aqua;
}